@media screen and (min-width: 1200px) {
  .carousel-inner img {
    height: 500px;
  }
  .carousel-inner {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: -33%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--white);
    top: 45%;
    font-weight: bold;
  }
  .carousel-caption h3 {
    font: bold;
  }
}
