  .mini-cart-button {
    padding: 12px 32px;
    background-color: var(--red);
    color: var(--white);
    border: none;
  }
  .mini-cart-button:hover {
    color: var(--white);
    text-decoration: none;
  }