.zoomed-image {
  background-size: cover;
  cursor: pointer;
}
.product__detail {
  display: flex;
}
.product__detail-description-btns {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 30px 0 60px 0;
}
.product__detail-sub-images,
.product__detail-image,
.product__detail-description {
  width: 50%;
}
.product__detail-image {
  padding: 10px 40px 50px 10px;
}
.product-detail-gif {
  max-width: 700px;
  margin: 10px auto;
}
