@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");



:root {
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
     --black: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body, #root, .App {
  height: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
     overflow: auto !important;
}
/* .footer-wrapper{
position:fixed;
left:0;
bottom:0;
right:0; 
} */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
.h1, h1 {
    font-size: 2rem;
}
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f8fafc;
}


*, *:before, *:after {
  box-sizing: border-box;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}
 h1 {
    font-size: 30px;
}
dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}


ul li {
list-style: none;
}
ul li a{
color:var(--white);
text-decoration: none;
}


.cart-items-wrapper {
    border-bottom: 1px solid #eee;
    padding: 25px;
}
button{
    background-color: var(--red) !important;
    border:var(--red) !important ;
}



@media screen and (max-width: 380px) {

.products {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 17px;
    padding: 6px !important;
}
}


@media screen and (max-width: 600px) {
    p{
        font-size: 13px;
    }
 .form_wrapper-inner {
    width: 90%;
    margin: 0 auto;
}
span{
    font-size: 13px;
}
.cart-item-input__wrapper{
    display: none;
}
.cart-items-details{
    padding: 5px;
}
.cart-image img{
    max-width: 100px;
}
.cart-items-details span,.cart-image p{
    font-size: 10px;
}
.carousel-inner img{
    height: 100%;
}

.notification-bar {
    display: flex;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--black);
    margin: 0px 0 0 0;
        padding: 10px 16px 13px 9px;
}
   .products {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content:center;
    grid-gap: 20px;
    padding: 31px;
}
.product__details-button {
    padding: 5px;
    background-color: var(--red);
    border: 0;
    color: var(--white);
    cursor: pointer;
}

.product__name{
    font-size: 16px;

}
.product__info a{
    color: var(--black);
    text-decoration: none ;
}
.shopping-items{
    display: none;
}
.cart-title{
    text-align: center;
}
.navbar__center-wrapper{
    display: none !important;
}
.cart-items-wrapper {
    display: flex;
    align-items: center;
}
.cart-item-input{
    width: 30px;
}
.cart-details-total{
    padding: 0 25px 0 25px;
}
.cart-items-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 33px 0 34px 0;
    /* flex-direction: revert; */
}
.cart-items__icon img{
    max-height: 50px;
    max-width: 100%;
}
.notification-bar-right,.notification-bar-center{
    display: none;
}
.mobile-container{
    width: 90%;
    margin: 0 auto;
}
.carousel-item{
    height: 230px;
}
.h1, h1 {
    font-size: 23px !important;
}
.product__detail-description-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin: 30px 10px 60px 0;
}

}











































@media screen and (min-width: 1200px) {
  .special-products{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.special-products-left{
    width: 40%;
}
.cartEdit{
    cursor: pointer;
}
.headline--1, .headline--2 {
    font-size: 60px;
    letter-spacing: -.026rem;
    color: var(--white);
}
.special-products-right{
    width: 40%;
}
.content__inner-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.navbar__right-wrapper:hover  .shopping-items {
display: block ;
}
.buy_now-section-image{
    width: 100%;
    vertical-align: top;
}
.buy_now-section-btn,.section-btn{
    text-align: center;
    margin: 40px 0 0px 0;
}

.content__wrapper-width{
    width: 1300px;
    margin: 0 auto;
}
.section-heading{
    text-align: center;
    margin: 25px 0 25px 0;
}
.contact-form__section-right{
    text-align: left;
}

.notification-bar {
    display: flex;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--black);
    margin: 0px 0 0 0;
}
.notification-bar span{
    display: block;
}
.product__info a{
    color: var(--black);
    text-decoration: none ;
}
.product__info a:hover{
 color: var(--black);
}
.mini-cart-button {
    min-width: 140px;
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border: none;
}
}